body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.styles{
  max-width: 18rem;
}
.bg{
  background-color: #4dae4d;
}
.bg-2{
  background-color: #7ade7a
}
.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}
.width{
  width: 70%;
}
.input{
  border: 0;
  border-bottom: 2px solid gray;
}